target/
bin/
.classpath
.project
.settings/
.gwt
.checkstyle
.errai
gwt-unitCache
.DS_Store
*~
*.iml
.idea
npm-debug.log
.metadata/*
*.log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

